[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[requires]
python_version = '3.7'

[packages]
openflexure-microscope-server = {editable = true, path = "."}

[dev-packages]
openflexure-microscope-server = {editable = true, path = ".", extras = ["dev"]}
