annotated-types==0.7.0
anyio==4.6.2.post1
attrs==22.2.0
av==10.0.0
camera-stage-mapping==0.1.7
certifi==2022.9.24
chardet==5.1.0
charset-normalizer==3.0.1
click==8.1.7
colorzero==2.0
contourpy==1.2.1
coverage==7.6.9
cycler==0.12.1
distro==1.8.0
dnspython==2.7.0
email_validator==2.2.0
fastapi==0.115.5
fastapi-cli==0.0.5
fonttools==4.55.0
future==1.0.0
gpiozero==2.0
gyp==0.1
h11==0.14.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.27.2
idna==3.3
ifaddr==0.2.0
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.10.3
kiwisolver==1.4.7
labthings-fastapi==0.0.7
labthings-picamera2==0.0.2.dev1
labthings-sangaboard==0.0.1.dev0
lgpio==0.2.2.0
libarchive-c==2.9
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==3.0.1
matplotlib==3.9.2
mdurl==0.1.2
mypy==1.13.0
mypy-extensions==1.0.0
mypy-gitlab-code-quality==1.1.0
numpy==1.26.4
opencv-python==4.7.0.72
-e git+https://gitlab.com/openflexure/openflexure-microscope-server.git@797a1464fae2a80f3df4277ccd5e190c846f50a3#egg=openflexure_microscope_server
orjson==3.10.11
packaging==24.2
picamera2==0.3.22
pidng==4.0.9
piexif==1.1.3
pigpio==1.78
pillow==10.4.0
pluggy==1.5.0
pycryptodomex==3.11.0
pydantic==2.9.2
pydantic-extra-types==2.10.0
pydantic-settings==2.6.1
pydantic_core==2.23.4
Pygments==2.18.0
pyparsing==3.2.0
pyrsistent==0.18.1
pyserial==3.5
PySocks==1.7.1
pytest==7.4.4
pytest-cov==6.0.0
python-apt==2.6.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.17
python-prctl==1.8.1
PyYAML==6.0.2
referencing==0.35.1
requests==2.28.1
rich==13.9.4
rpds-py==0.22.3
RPi.GPIO==0.7.1a4
ruff==0.8.4
sangaboard==0.3.3
scipy==1.14.1
semantic-version==2.10.0
shellingham==1.5.4
simplejpeg==1.6.6
six==1.16.0
smbus2==0.4.2
sniffio==1.3.1
spidev==3.5
ssh-import-id==5.10
starlette==0.41.2
toml==0.10.2
tqdm==4.64.1
typer==0.13.0
types-jsonschema==4.23.0.20241208
typing_extensions==4.12.2
ujson==5.10.0
urllib3==1.26.12
uvicorn==0.32.0
uvloop==0.21.0
v4l2-python3==0.3.5
watchfiles==0.24.0
websockets==14.1
zeroconf==0.136.0
